{% extends "base.html.twig" %}

{% block body %}
    <h1>Ajout de l'article :</h1>
    <form method="post">
        <input type="text" name="Titre">
        <textarea name="Description">
        </textarea>
        <input type="date" name="DateAjout" >
        <select name="Auteur">
            <option >Rebecca</option>
            <option >Alexandre</option>
            <option >Emilie</option>
            <option>Léo</option>
            <option >Aegir</option>
        </select>
        <select name="Libelle">
            <option >BD</option>
            <option >Romans</option>
            <option >Mangas</option>
            <option>Dictionnaires</option>
            <option >Périodiques</option>
        </select>
        <input type="submit" value="Enregistrer les modifications">
    </form>

{% endblock %}